.contacts {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 895px;
  margin: 0 auto;
}

.contacts__title {
  width: 260px;
  height: 19px;
  margin: 42px auto 40px;

  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  height: 170px;
  margin: 0 auto;

  font-size: 15px;
  line-height: 30px;
  color: $text-darkgrey;
}

.contacts__category {
  width: 75px;
  min-height: 60px;
}

.contacts__value {
  width: 185px;
  min-height: 60px;
  margin: 0;
}

.contacts__button {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
    height: 927px;
  }

  .contacts__title {
    width: 218px;
    height: 36px;
  }

  .contacts__list {
    width: 668px;
    height: 84px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    flex-direction: column;
    width: 1050px;
    height: 636px;
  }

  .contacts__map {
    order: 10;
  }
}
