.order-form__category-name {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
}

.order-form__list {
  line-height: 18px;
  font-weight: bold;
}

.order-form__legend {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
