.page-main__wrapper {
  width: 320px;
  height: 283px;

  background: #fafafa url("../../img/hero-mobile@1x.jpg") no-repeat 50% 0;
}

.page-main__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
