.review__title {
  font-size: 25px;
  line-height: 30px;
}

.review__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.review__author-name {
  font-weight: bold;
  font-style: normal;
}

.review__author-social {
  line-height: 30px;
  font-style: normal;
}
